*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color:  #a8e063  !important;
    box-sizing: border-box;   
}

#leftlabel{
    color: black;
    font-weight: bolder;
    font-size: 25px;
    height: 70px;
    width: 25%;
    padding-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
}

#leftlabel  li{
    list-style-type:none;
}

#rightlabel{
    width: 75%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
font-weight: bolder;
font-size: 25px;
color: white;

}

#rightlabel ul{
    float:right;
    padding-right: 10px;
}

#rightlabel ul li{
    list-style-type:none;
    /* display: inline-block; */
    display:inline;
    /* float:right; */
    padding-left: 10px;
}


a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:white;
}


.content{
    background-image: linear-gradient(to right,  #dce35b,
    #45b649 );
    background-size: cover;
    width:100%;
}

.about{
    padding-top: 150px;

}
.pic{
    text-align: center;
   
}
.name{
    text-align: center;
    color: maroon;
    font-size: 25px;
}
.name h5{
    color: black;
}
.pic img{
    border-radius: 50%;
    border: 2px solid #ccc;
}

.socialsites{
    margin-top: 10px;
    text-align: center;
}

.socialsites ul li{
    display: inline;
    padding-left: 10px;
}
.socialsites a{
    color: blue;
}

.skills{
    margin-top: 260px;
    padding-bottom: 50px;
}

.skills h1{
    text-align: center;
    color: maroon;
    font-size: 50px;
    
}
table{
    margin-top: 30px;
    margin-bottom: 50px;
    background-color:#a8e063;

}
table, th, td {
    border: 1px solid black;
    text-align: center;
  }

th , td{
      font-size: 30px;
  }

.center{
     margin-left: auto;
     margin-right: auto;
 }

#contact h1{
    text-align: center;
    color: maroon;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

form{
     margin-left: auto;
    margin-right: auto;
}
input[type=text], input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#a8e063;
    margin-top: 6px;
    margin-bottom: 16px;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

#contact .container {
width:50%;
margin: 0 auto;
padding-bottom: 100px;
}
  

#achievements .container{
    width:50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media(max-width:1094px){
    #achievements .container{
        flex-direction: column;
        
    }
    .flex2{
        margin-bottom: 5px;
    }
    #contact .container{
        width: 80%;
      
    }
}


.flex2{
    background-color:#a8e063;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}


.flex2 h1, .flex3 h1{
    padding: 10px;
    text-align: center;
    
}

.flex2 h3, .flex3 h3{
    padding: 10px;;
}

.flex2 p, .flex3 p{
    padding: 10px;

}

.flex3{
   
    background-color:#a8e063;
    border: 1px solid black;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.flex3 a{
    color: blue;
}

.flex1 li{
    list-style: none;
}

#achievementtag h1{
    text-align: center;
    color:maroon;
    font-size: 50px;
    padding-bottom: 50px;
}




 .scrollup{
     background-color: maroon;
   /* width: 20%; */
   
 }
.scrollup img{
    /* width: 5%; */
    width: 50px;
    position: sticky;
    float: right;
}


.gotop{
    position: fixed;
    bottom: 10px;
    right: 5px;
    
}

.gotop img{
    width: 50px;
    height: 50px;
    
}

@media(max-width:919px){
    #leftlabel{
        
        text-align: center; 
        float: left;
        font-size: 20px;
    }
    #rightlabel{
        font-size: 20px;
    }
} 

@media(max-width:760px){
    th , td{
        font-size: 20px;
    }
}
